@media screen and (max-width: 1400px) {
    .intro-title {
        font-size: 40px;
    }
    .intro-img-block::before {
        width: 50%;
        height: 50%;
        left: -50px;
    }
    .intro-img-block img {
        width: 400px;
    }
}

@media screen and (max-width: 1300px) {
    .admin-info-blocks {
        grid-template-columns: repeat(3, 1fr);
        -ms-grid-columns: (1fr)[3];
    }
}

@media screen and (max-width: 1200px) {
    .footer-menu, .contacts {
        text-align: center;
    }
    .main-menu > .btn-hamburger {
        display: block;
    }
    .navigation {
        z-index: 99;
    }
    .menu-wrapper {
        position: absolute;
        width: 100%;
        height: 100vh;
        background-color: #fff;
        left: -100%;
        transform: translateX(-100%);
        top: 10vh;
        -webkit-transition: .3s ease-in-out;
        -o-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
        z-index: 99;
    }
    .menu-wrapper.menu-active {
        left: 0;
        transform: translateX(0);
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .menu-wrapper.menu-active > .menu {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin: 0;
    }
    .menu-wrapper.menu-active > .menu li {
        margin: 0;
        margin-bottom: 20px;
        font-size: 18px;
    }
    .menu-wrapper.menu-active > .nav-buttons {
        width: 90%;
        margin: 0 auto;
    }
    .menu-wrapper.menu-active > .nav-buttons a {
        display: block;
        width: 100%;
        margin: 10px 0;
    }
    .menu-wrapper.menu-active > .nav-buttons > .user-link {
        text-align: center;
    }
}

@media screen and (max-width: 992px) {
    .employees {
        -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    }
    .about-us__info-img-block {
        display: none;
    }
    .swiper {
        width: 100%;
    }
    .intro-img-block img {
        width: 300px;
    }
    .map {
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
        grid-column: 1 / 4;
        margin: 0 auto;
    }
    .contacts {
        -ms-grid-column: 2;
        -ms-grid-column-span: 2;
        grid-column: 2 / 4;
    }
    .error-section {
        margin-top: 70px;
    }

    /* Адаптация админки */
    .admin-navigation__top > .btn-hamburger {
        display: block;
    }
    .admin-wrapper {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        -ms-grid-rows: 80px 1fr;
        grid-template-rows: 80px 1fr;
    }
    .admin-wrapper > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .admin-wrapper > *:nth-child(2) {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }
    .admin-navigation .admin-menu-wrapper {
        position: absolute;
        background: var(--color-green);
        width: 100%;
        margin: 0;
        left: -120%;
        height: 100vh;
        -webkit-transition: .3s ease-in-out;
        -o-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
        z-index: 99;
    }
    .admin-navigation .admin-menu-wrapper.admin-menu-active {
        left: 0;
    }

    .admin-navigation ul > li > a {
        padding-left: 50px;
    }
    .license {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 868px) {
    .form-with-rectangles::before,
    .form-with-rectangles::after {
        display: none;
    }
    .intro-img-block::after {
        right: -50px;
    }
}

@media screen and (max-width: 768px) {
    .intro-img-block {
        display: none;
    }
    .intro-left {
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
        grid-column: 1 / 3;
        text-align: center;
    }
    .feedback-form, .login-form, .register-form {
        width: 90%;
    }
    .employees {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
    .service-img-block {
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
        grid-column: 1 / 3;
    }
    .service-info-right {
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
        grid-column: 1 / 3;
    }
    .admin-info-blocks {
        grid-template-columns: repeat(2, 1fr);
        -ms-grid-columns: (1fr)[2];
    }
    .full-name-group {
        flex-direction: column;
    }
    .full-name-group > div {
        margin-bottom: 10px;
    }
    .full-name-group > div:last-child {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 530px) {
    .works {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
    .about-us__info-blocks > div {
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
        grid-column: 1 / 3;
    }
    .map iframe {
        width: 400px;
    }
    .footer-menu-wrapper, .contacts {
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
        grid-column: 1 / 4;
    }
    /*.feedback-form {
        width: 400px;
    }*/
    .delete-modal-window {
        width: 90%;
    }
    .about-us__images {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 430px) {
    .map iframe {
        width: 300px;
    }
    .admin-info-blocks {
        grid-template-columns: repeat(1, 1fr);
        -ms-grid-columns: (1fr)[1];
    }
    .admin-logo {
        flex-grow: 0;
    }
}

@media screen and (max-width: 380px) {
    .stars > label {
        font-size: 25px;
    }
    .admin-logo .logo-img {
        width: 150px;
    }
}
